$tableHeadHeigh: 35px;
$tableBodyHeigh: 55vh;

.Table {
	display: block;
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;

	@media (max-width: 1200px) {
		overflow: scroll;

		//width: 720px;
		//min-width: 720px;
		max-width: calc(100vw - 32px);

		height: calc($tableBodyHeigh + $tableHeadHeigh);
	}
}

.TableBody {
	width: 100%;
	display: block;
	position: relative;
	overflow: auto;
	height: $tableBodyHeigh;

	@media (max-width: 1200px) {
		//width: 880px;
		min-width: 880px;

		box-shadow: none !important;
		overflow: hidden;
		height: auto;
	}
}

.TableHead {
	width: 100%;
	display: block;
	border-bottom: 1px solid #eeeeee;

	@media (max-width: 1200px) {
		// width: 880px;
		min-width: 880px;
	}
}

.TableHeadRow {
	display: block;
	height: $tableHeadHeigh;
	padding: 0 40px;
	width: calc(100% - 80px);
	@media (max-width: 1200px) {
		// width: 760px;
		min-width: 760px;
	}
}

.TableHeadItem {
	white-space: nowrap;
	display: inline-block;
	position: relative;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #b5b7c0;
	text-align: left;

	&:not(:last-child) {
		padding-right: 15px;
	}

	&:nth-child(1) {
		width: 16%;
		flex: 0 0 16%;
	}
	&:nth-child(2) {
		width: 15%;
		flex: 0 0 15%;
	}
	&:nth-child(3) {
		width: 15%;
		flex: 0 0 15%;
	}
	&:nth-child(4) {
		width: 20%;
		flex: 0 0 20%;
	}
	&:nth-child(5) {
		width: calc(18% - 80px);
		flex: 0 0 calc(18% - 80px);
	}
	&:nth-child(6) {
		text-align: right;
		width: 16%;
		flex: 0 0 16%;
	}
}

.Row {
	display: flex;
	width: calc(100% - 80px);
	padding: 0 40px;

	@media (max-width: 1200px) {
		min-width: 760px;
		//width: 760px;
	}

	&:last-child {
		td {
			border-bottom: none;
		}
	}

	span {
		display: block;
		height: 27px;
	}

	td {
		align-self: baseline;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		color: #292d32;
		display: table-cell;
		padding: 24px 0 24px 0;
		border-bottom: 1px solid #eeeeee;
		text-align: left;
		&:not(:last-child) {
			padding-right: 15px;
		}

		span {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&:nth-child(1) {
			width: 16%;
			flex: 0 0 16%;
		}
		&:nth-child(2) {
			width: 15%;
			flex: 0 0 15%;
		}
		&:nth-child(3) {
			width: 15%;
			flex: 0 0 15%;
		}
		&:nth-child(4) {
			width: 20%;
			flex: 0 0 20%;
		}
		&:nth-child(5) {
			width: calc(18% - 80px);
			flex: 0 0 calc(18% - 80px);
		}
		&:nth-child(6) {
			display: flex;
			justify-content: flex-end;
			width: 16%;
			flex: 0 0 16%;
		}
	}
}

.StatusLabel {
	width: 80px;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.StatusLabelActive {
	color: #008767;
	background: rgba(22, 192, 152, 0.38);
	border: 1px solid #00b087;
}
.StatusLabelInactive {
	color: #df0404;
	background: #ffc5c5;
	border: 1px solid #df0404;
}

.Empty {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 18px;
	color: #b5b7c0;
	height: $tableBodyHeigh;
}
